<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>의견을 남겨주세요</h1>
<p>
    {% if name and opinion %} <!-- name이라고 보관 되어 있는 Value가 있는가?-->
        <h2>{{ name }}님이 남긴 글입니다.</h2>
        <hr>
        <h3> {{ opinion }}</h3>
    {% else %}
        <form method="POST" action="/workapp/exercise2/">  <!-- form태그화면이 브라우저에 출력 -->
            {% csrf_token %}
            <input type="text" name="name" placeholder="작성자 이름을 입력하세요" required><br>
            <textarea name="opinion" rows="10" cols="80" placeholder="자신의 의견을 간단히 적어주세요"></textarea><br>
            <input type="submit" value="제출">
            <input type="reset" value="재작성">
        </form>
    {% endif %}
</p>
</body>
</html>